* {
    font-family: "Roboto", sans-serif;
}

body,
h2,
ul,
li,
button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

li {
    list-style: none;
}

button {
    background-color: #fff;
    border: none;
}

/* screen_out */
.screen_out {
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    text-indent: -9999px;
}

/**/
.container {
    width: 200px;
    margin: 50px auto;
}

.choice-default {
    /* display: block;  */
    margin-bottom: 9px;
    padding: 13px 0 13px 14px;
    width: 200px;

    text-align: left;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.166666666666667;

    box-sizing: border-box;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
}

.choice-default:focus {
    outline: 3px solid #f8e4ff;
    border: 1px solid #9b51e0;
}

.choice-default::after {
    float: right;
    margin-right: 13px;
    transform: translateY(25%);

    width: 12px;
    height: 8px;

    display: block;
    content: "";

    background-image: url("./icon-Triangle-down.png");
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}

.choice-default:focus::after {
    background-image: url("./icon-Triangle-up.png");
}

.choice-container {
    padding: 5px 8px 5px 8px;
    width: 200px;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.15);
}

.choice-container li {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.142857142857143;
}

.choice-container li + li {
    margin-top: 5px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.142857142857143;
}

.choice-container li button {
    padding-left: 10px;
    width: 100%;
    line-height: 30px;
    text-align: left;
}

.choice-container li button:hover {
    background-color: #f8e4ff;
    border-radius: 8px;
}
